@{
    ViewData["Title"] = "About";
}
<p><br /><br /></p>
<h2 style="text-align:center; color:midnightblue;font-family:'MS Gothic';font:bold;background-color:burlywood;margin-left:30%;margin-right:30%">About</h2>
<p style="background-color:antiquewhite;text-align:center;color:midnightblue; text-size-adjust:150%; margin-left:30%;margin-right:30%">    It's been a long day and all you can think of is reading a book?<br /> Oh, but it's so cold/hot/rainy outside
    and you really don't feel like going to the library.<br /><br /> You're feeling ill and can't think of a movie you haven't
    seen so you think a book could be a good substitute?<br /> But then again, you're ill and anything but your bed is
    a galaxy far, far away.<br /><br /> Or maybe you're so introverted that even a small talk with your librarian seems like
    a challenge?<br /><br /> Your baby fell asleep and you could read a book but can't leave the house?
    <br />
    <br />
    <br />
    </p>
<h3 style="text-align:center; margin-left:30%; margin-right:30%; background-color:aliceblue; color:midnightblue;font-family:'Book Antiqua'"><br />That's where we - Your Nearest Library - help. May all the books be within reach!<br /><br /></h3>
<br />
<center><h1 id="aboutText">Team members</h1></center>
<br />
<div class="container" >
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href=" //www.facebook.com/profile.php?id=100010238198852&fref=ts">
                <img src="/images/maja.jpg" class="thumbnail" style="height: 250px; width: 220px; margin: 0 auto;">
            </a>
            <h4 id="aboutText">Maja Krmpotić Đurđević</h4>
            <h4 id="aboutText">-student-</h4>
            <h4 id="aboutText">Fer</h4>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="https://www.facebook.com/galiuskas">
                <img src="/images/vlado.jpg" class="thumbnail" style="height: 250px; width: 200px; margin: 0 auto;">
            </a>
            <h4 id="aboutText">Vlado Galić</h4>
            <h4 id="aboutText">-student-</h4>
            <h4 id="aboutText">Fer</h4>
        </div>
        <div class="col-xs-6 col-md-3"> 
            <a href="https://www.facebook.com/lea.racki?fref=ts">
                <img src="/images/lea.jpg" class="thumbnail" style="height: 250px; width: 200px;  margin: 0 auto;">
            </a>
                <h4 id="aboutText">Lea Rački</h4>
                <h4 id="aboutText">-student-</h4>
                <h4 id="aboutText">Fer</h4>
            </div>
        <div class="col-xs-6 col-md-3">
            <img src="" class="thumbnail" style="height: 250px; width: 200px;  margin: 0 auto;">
            <h4 id="aboutText">Petar Kovačević</h4>
            <h4 id="aboutText">-mentor-</h4>
            <h4 id="aboutText">fer</h4>
        </div>
    </div>
</div>