@{
    ViewData["Title"] = "About";
}
<p><br /><br /></p>
<h2 style="text-align:center; color:midnightblue;font-family:'MS Gothic';font:bold;background-color:burlywood;margin-left:30%;margin-right:30%">About</h2>
<p style="background-color:antiquewhite;text-align:center;color:midnightblue;text-size-adjust:150%;margin-left:30%;margin-right:30%">    It's been a long day and all you can think of is reading a book?<br /> Oh, but it's so cold/hot/rainy outside
    and you really don't feel like going to the library.<br /><br /> You're feeling ill and can't think of a movie you haven't
    seen so you think a book could be a good substitute?<br /> But then again, you're ill and anything but your bed is
    a galaxy far, far away.<br /><br /> Or maybe you're so introverted that even a small talk with your librarian seems like
    a challenge?<br /><br /> Your baby fell asleep and you could read a book but can't leave the house?
    <br />
    <br />
    <br />
    </p>
<h3 style="text-align:center; margin-left:30%; margin-right:30%; background-color:aliceblue; color:midnightblue;font-family:'Book Antiqua'"><br />That's where we - Your Nearest Library - help. May all the books be within reach!<br /><br /></h3>
