

<address>
    <center style="margin-top: -150px">
        <div id="citeText">- Contact page -</div>
    </center>
    <center>
        <div id="aboutText" style="font-size: 180%; color: burlywood">Contact:</div>
        <div id="aboutText" style="font-size: 150%">Maja Krmpotić Đurđević - maja.krmpotic-durdevic[et]fer.hr</div>
        <div id="aboutText" style="font-size: 150%">Vlado Galić - vlado.galic[et]fer.hr</div>
        <div id="aboutText" style="font-size: 150%">Lea rački - lea.racli[et].fer.hr</div>
    </center>
    <br/>
    <br/>
    <center>
        <div id="aboutText" style="font-size: 150%; color: burlywood">All credit goes to:</div>
        <div style="font-size: 150%">
            <br/>
            <a id="aboutText" style="color: #3388ff" asp-action="About">Students of University of Zagreb Faculty of Electrical Engineering and Computing</a>
        </div>   
       
    </center>
</address>

