@model List<LibraryWebApp.Models.Writer>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>All Writers</title>
</head>
<body>
    <div style="margin-top:5%">



        @if (Model != null)
        {
            <div class="thumbnail" style="text-align:center; margin-left:30%; margin-right:30%;">
                <h1>Writers:</h1>

                        @foreach (var writer in Model)
                        {
                            <div class="thumbnail">
                                <a asp-action="WriterDetails" asp-controller="Member" asp-route-id="@writer.WriterId">@writer.LastName, @writer.FirstName</a>
                            </div>
                        }

                            
                </div>
                }

            </div>
</body>
</html>