

@model List<Book>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>All Books</title>
</head>
<body>
    <div>
        


        @if (Model != null)
        {
            <h1>Books:</h1>
            foreach (var item in Model)
            {
                <p style="margin-left: 30px">
                    <a asp-controller="Member" asp-action="BookDetails" asp-route-id="@item.BookId">@item.Title, @item.Writer.FirstName @item.Writer.LastName</a>
                </p>

            }
        }

    </div>
</body>
</html>