

@model List<Book>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>All Books</title>
</head>
<body>
    <div>
        


        @if (Model != null)
        {
            <h1>Books:</h1>
            foreach (var item in Model)
            {
                <p>
                    @item.Title, @item.Writer.FirstName @item.Writer.LastName
                </p>

            }
        }

    </div>
</body>
</html>