@model BookViewModel

@{
    ViewData["Title"] = "Adder";
}

<h2>Adder</h2>


<form asp-controller="Admin" asp-action="AddBook" method="post" class="text-center">
    <p>Ime knjige:</p>
    <textarea class="form-control center-block" style="min-width: 70%; resize: none" rows="1" asp-for="Text"></textarea>
    <strong><span class="text-danger" asp-validation-for="Text"></span></strong><br/>
    <p>Ime pisca:</p>
    <textarea class="form-control center-block" style="min-width: 70%; resize: none" rows="1" asp-for="FirstNameWritter"></textarea>
    <strong><span class="text-danger" asp-validation-for="FirstNameWritter"></span></strong><br />
    <p>Prezime pisca:</p>
    <textarea class="form-control center-block" style="min-width: 70%; resize: none" rows="1" asp-for="LastNameWritter"></textarea>
    <strong><span class="text-danger" asp-validation-for="LastNameWritter"></span></strong><br />
    
    <p>Opis:</p>
    <textarea class="form-control center-block" style="min-width: 70%; resize: none" rows="5" asp-for="About"></textarea>
    <strong><span class="text-danger" asp-validation-for="About"></span></strong><br />
    
    <p>Kolièina:</p>
    <textarea class="form-control center-block" style="min-width: 70%; resize: none" rows="1" asp-for="Counter"></textarea>
    <strong><span class="text-danger" asp-validation-for="Counter"></span></strong><br />

    <input type="submit" class="btn btn-primary btn-lg" value="Submit"/>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
