@model LibraryWebApp.Models.BookViewModel

@{
    ViewData["Title"] = "Adder";
}

<h2>Adder</h2>

<form asp-action="Add">
    <div class="form-horizontal">
        <h4>AdminController</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<form asp-controller="Admin" asp-action="AddBook" method="post" class="text-center">
    <textarea class="form-control center-block" style="min-width: 70%; resize: none" rows="4" asp-for="Text"></textarea>
    <strong><span class="text-danger" asp-validation-for="Text"></span></strong><br />
    <input type="submit" class="btn btn-primary btn-lg" value="Submit" />
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
