@model List<LibraryWebApp.Models.ApplicationUser>

@{
    ViewData["Title"] = "Admins";
}

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Admins</title>
</head>
<body>
    <div>

        @if (Model != null)
            {
            <h1>Users:</h1>
            foreach (var item in Model)
            {
               if (User.Identity.Name.Equals(item.UserName)){ 
                    continue;
                }
                <p>
                    @item.UserName     @item.Email


                    <a asp-controller="Admin" asp-action="RemoveAdmin" asp-route-id="@item.Id">Remove Admin</a>

                    <br />
                </p>

            }
        }

    </div>
</body>
</html>